services:
  inlets:
    restart: always
    image: ${SERVICE_IMAGE_REGISTRY}/whatwewant/go-idp-inlets:${SERVICE_INLETS_IMAGE_VERSION}
    ports:
      - 0.0.0.0:${SERVICE_INLETS_WEB_PORT}:8080
      - 0.0.0.0:${SERVICE_INLETS_DATA_PORT}:8443
    command: inlets server -s -c /etc/inlets/server.yaml
    volumes:
      - ${SERVICE_CONFIGS}/config.yaml:/etc/inlets/server.yaml
      
networks:
  default:
    external: true
    name: compose-ingress
